/*  your css code here. If applicable */
.header{
	background:#011e29;
	height:50px;
	text-align:center;
	color:white;
	padding:2px 0px ;
/* 	margin-top:10px; */
}

.holder{
	display:flex;
	justify-content:space-between;
}
.items-img{
	display:flex;
	flex-direction:column;
	row-gap:10px;
	
}
.img{
	width:100px;
/* 	height:10px; */
}

	
	
}